
body
{
    background-color: azure;
    margin: 0;
}

/* Navigation part */

#nav-container
{
    height: 50px;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-container  span a 
{
    margin-right: 20px;
    text-decoration: none;
    display: inline-block;
    height: 25px;
    width: 50px;
    padding: 5px;
}

#nav-container  span a:link,:visited,:active
{
    color: black;
}

#nav-container  span a:hover
{
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    
}

/* Header part */

#header
{
    display: grid;
    justify-items: center;
    height: 250px;
    background: linear-gradient(lightblue,violet);
}
#btn1
{
    height: 30px;
    width: 90px;
    border-radius: 5px;
}
#btn1:hover
{
    cursor: pointer;
}


/* Main */


#main h4
{
   margin-left: 40%;
   transform: translate(10%);
}
#main p
{
   margin-left: 50%;
   transform: translate(-50%);
}
.main-card-container
{
    display: grid;
    justify-items: center;
    height: 200px;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
}

.card-container
{
    background-color: beige;
    padding: 10px;
}
img
{
    height: 200px;
    width: 300px;
}



/*  footer  */

#footer
{
    padding: 10px;
    margin-top: 70%;
    display: flex;
    align-self: baseline;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}